*
{
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.top-header-conten-left img {
    height: 53px;
    width: 162px;
}

.top-header-contaner {
    width: 93%;
    margin: auto !important;
}

#button {
    border: 1px solid orangered;
    padding: 10px;
    border-radius: 3px;
}

#button:hover {
    background-color: orangered;
    color: aliceblue;
}

.center-conten #top {
    color: red;
}

.center-conten h2 {
    color: darkblue;
}
.center-conten{
    width: 80%;
}

#secbutton:hover{
    background-color: orangered;
 color: aliceblue;
}