#popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupContent {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

#popupCloser {
  position: fixed;
  color: white;
  cursor: pointer;
  right: 10px;
  top: 10px;
  font-size: 50px;
}
